.side-bar {
	/* box-sizing: border-box; */
	/* padding: 0 10px; */
}
.sidebar-list .MuiListItem-root {
	text-align: unset !important;
}
.side-bar .sidebar-list {
	text-align: center !important;
}
.side-bar .list-item {
	/* margin-bottom: 30px; */
	padding: 10px;
}
.sidebar-list .list-inner {
	text-align: center;
}
.sidebar-list .sidebar-icon {
	font-size: 33px;
}
.sidebar-list .MuiTypography-displayBlock {
	font-size: 12px;
}
.side-bar .add-to-cart-btn {
	text-align: center;
	font-size: 16px;
	position: absolute;
	bottom: 0;
	width: 100%;
	cursor: pointer;
}
.side-bar .list-item-inner {
	text-align: center !important;
	width: 100%;
}
.side-bar .add-cart-inner {
	font-size: 14px;
	padding: 10px 20px;
	color: white;
	background-color: black;
	margin-top: 20px;
}

.side-bar .sidebar-drawer {
	width: 20%;
	flex-shrink: 0;
}

/* Environment Classes */
.side-bar .env-img {
	width: 100%;
	height: auto;
	cursor: pointer;
}
.side-bar .env-img-head {
	margin-bottom: 10px;
}

.side-bar .env-img:hover {
	opacity: 0.8;
}

.side-bar .box-container {
	display: flex;
	justify-content: left;
	margin: 10px 0;
}
.side-bar .box {
	height: 26px;
	width: 26px;
	border: 1px solid rgba(0, 0, 0, 0.116);
	margin: 0px 5px;
	cursor: pointer;
	padding: 4px;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.233);
}
.box-1 div:nth-child(1) {
	background-color: rgb(181, 181, 181);
	/* padding: 100px; */
}
.box-1 div:nth-child(2) {
	background-color: white;
	/* padding: 100px; */
}
.box-1 div:nth-child(3) {
	background-color: rgb(156, 205, 216);
	/* padding: 100px; */
}
.box-1 div:nth-child(4) {
	background-color: rgb(174, 199, 187);
	/* padding: 100px; */
}
.box-1 div:nth-child(5) {
	background-color: rgb(224, 195, 195);
	/* padding: 100px; */
}

.box-2 div:nth-child(1) {
	background-color: rgb(181, 181, 181);
	/* padding: 100px; */
}
.box-2 div:nth-child(2) {
	background-color: white;
	/* padding: 100px; */
}
.box-2 div:nth-child(3) {
	background-color: rgb(156, 205, 216);
	/* padding: 100px; */
}

.box-2 div:nth-child(4) {
	background-color: rgb(224, 195, 195);
	/* padding: 100px; */
}

.box-3 div:nth-child(1) {
	background-color: rgb(181, 181, 181);
	/* padding: 100px; */
}

.box-3 div:nth-child(2) {
	background-color: rgb(156, 205, 216);
	/* padding: 100px; */
}

.box-4 div:nth-child(1) {
	background-color: rgb(156, 205, 216);
	/* padding: 100px; */
}
.box-4 div:nth-child(2) {
	background-color: rgb(224, 195, 195);
	/* padding: 100px; */
}
.box-4 div:nth-child(3) {
	background-color: rgb(181, 181, 181);
	/* padding: 100px; */
}

.box-5 div:nth-child(1) {
	background-color: rgb(181, 181, 181);
	/* padding: 100px; */
}
.box-5 div:nth-child(2) {
	background-color: rgb(156, 205, 216);
	/* padding: 100px; */
}
.box-5 div:nth-child(3) {
	background-color: white;
	/* padding: 100px; */
}
.box-5 div:nth-child(4) {
	background-color: rgb(224, 195, 195);
	/* padding: 100px; */
}

.box-6 div:nth-child(1) {
	background-color: rgb(181, 181, 181);
	/* padding: 100px; */
}
.box-6 div:nth-child(2) {
	background-color: white;
	/* padding: 100px; */
}
.box-6 div:nth-child(3) {
	background-color: rgb(174, 199, 187);
	/* padding: 100px; */
}
.box-7 div:nth-child(1) {
	background-color: rgb(181, 181, 181);
	/* padding: 100px; */
}
.box-7 div:nth-child(2) {
	background-color: rgb(109, 107, 107);
	/* padding: 100px; */
}
.box-7 div:nth-child(3) {
	background-color: rgb(156, 205, 216);
	/* padding: 100px; */
}
.box-7 div:nth-child(4) {
	background-color: rgb(174, 199, 187);
	/* padding: 100px; */
}
.further-container {
	width: 20%;
}
.further {
	width: 250px;
	padding: 20px;
	box-sizing: border-box;
	background-color: white;
	padding: 10px 0;
	margin-top: 20px;
	cursor: pointer;
	position: relative;
	position: fixed;
	height: 60px;
}
.further-further {
	bottom: 50px;
}
.further-back {
	bottom: 0px;
}
.further-back .further-btn{
	background-color: white;
	color: black;
	border: 1px solid black;
}
.further-env{
	background-color: black !important;
	color: white !important;

}
.further-btn {
	margin: 0 0 0px 10px;
	padding-top: 8px;
	width: 230px;
	height: 38px;
	color: white;
	background-color: black;
}

/* Picture Walls */

.side-bar .pic-img {
	height: auto;
	width: 100%;
	cursor: pointer;
}
.side-bar :nth-child(-1) {
	margin-bottom: 50px;
}
.side-bar .pic-img:hover {
	opacity: 0.8;
}
.side-bar .last-pic {
	margin-bottom: 90px;
}

@media (max-width:1023px){
	.side-bar .add-to-cart-btn {
		position: unset !important;
	}
}
@media (max-width:823px){
	.side-bar .add-cart-inner {
		margin-top: 0px;
	
  }
}
@media (max-width:731px){
	.side-bar .add-cart-inner {
		margin-top: 0px;
	
  }
}


@media (max-width:640px){
	.side-bar .add-cart-inner {
		margin-top: 0px;
	
  }
}

