/* .front-page .inner-frontpage{
    display: flex;
}
.front-page .front-child-1{
    width: 20vw;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5px;
}
.front-page .front-child-2{
    width: 80vw;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid black;
} */
/* .header-header-logo{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.header-header-logo img{
    height: 50px;
} */